

body{
    background-color: white;
    display: flex;
    justify-content: flex-start;
}

.utilbar{
    display: flex;
    flex-direction: column;
    width: 15em;
}

.utilbar img{
    width: 40%;
    filter: grayscale(100%);
    opacity: 0.5;
}

.card{
    background-color: #888888;
    width: 60%;
    margin: 3em auto;

}

.question{
    font-size: 10em;
    text-align: center;
}

.choices {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.choices li{
    font-size: 2em;
    margin: 0.1em;
    width: 3em;
    text-align: center;

    cursor:pointer;


    border-radius:4px;
    padding:6px 12px;
}

.openChoice {
    text-decoration: underline;
    color:#ffffff;
}

.wrongChoice {
    color: red;
    text-decoration: none;
}

 meter{
    width: 100%;
    height: 2em;

     background-color: blue;

     border-radius: 2px;

}




