

body{
    background-color: #333333;
    display: flex;
}

.card{
    background-color: #888888;
    width: 60%;
    margin: auto;
}

.question{
    font-size: 10em;
    text-align: center;
}

.choices {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.choices lix{

}


.choices li{

    font-size: 2em;
    margin: 0.1em;
    width: 3em;
    text-align: center;


    background-color:#77b55a;
    border-radius:4px;
    border:1px solid #4b8f29;
    cursor:pointer;
    color:#ffffff;
    font-family:Arial;

    font-weight:bold;
    padding:6px 12px;
    text-decoration:none;
    text-shadow:0px 1px 0px #5b8a3c;
}
